Created by [Nathan Kelber](http://nkelber.com) for [JSTOR Labs](https://labs.jstor.org/) under [Creative Commons CC BY License](https://creativecommons.org/licenses/by/4.0/)<br />
**For questions/comments/improvements, email nathan.kelber@ithaka.org.**<br />
![CC BY License Logo](https://ithaka-labs.s3.amazonaws.com/static-files/images/tdm/tdmdocs/CC_BY.png)
____
# Python Basics III

**Description:** This notebook describes the basics of lists and dictionaries including:
* 

This is part 3 of 3 in the series Python Basics that will prepare you to do text analysis using the Python programming language.

**Difficulty:** Beginner

**Knowledge Required:** 
* [Getting Started with Jupyter Notebooks](./0-introduction-to-jupyter-notebooks.ipynb)
* [Python Basics I](./0-python-basics-1.ipynb)
* [Python Basics II](./0-python-basics-1.ipynb)

**Knowledge Recommended:** None

**Completion Time:** 90 minutes

**Data Format:** None

**Libraries Used:** None
___

# The Benefits of lists and dictionariess

In Python Basics I, we learned about three data types: **integers**, **floats**, and **strings**. In this lesson, we will learn about two additional data types: **lists** and **dictionaries**. **Lists** and **dictionaries** help us store many values inside a single variable. This is helpful for a few reasons.

* We can store many items in a single list or dictionary, making it easier to keep the data together 
* Lists and dictionaries only require a single assignment state
* Lists and dictionaries have additional capabilities that will make organizing our data easier

The fundamental difference between a **list** and a **dictionary** is that a list stores items in sequential order (starting from 0) while a **dictionary** stores items in **key/value** pairs. When we want to retrieve an item in a list, we use an **index number** or a set of **index numbers** called a **slice** as a reference. When we want to retrieve an item from a **dictionary**, we supply a **key** that returns the **value** (or set of values) associated with that **key**. Each of these approaches can be beneificial depending on what kind of data we are working with (and what we intend to do with the data).

# The List Data Type

A **list** can store anywhere from zero to millions of items. The items that can be stored in a list include the data types we have already learned: integers, floats, and strings. A list **assignment statement** takes the form.
`my_list = [item1, item2, item3, item4...]`

In [ ]:
# A list containing integers
my_favorite_numbers = [7, 21, 100]
print(my_list)

In [4]:
# A list containing strings
my_inspirations = ['Harriet Tubman', 'Rosa Parks', 'Pauli Murray']
print(my_inspirations)

['Harriet Tubman', 'Rosa Parks', 'Pauli Murray']

Both `my_favorite_numbers` and `my_inspirations` have three items, but we could have also initialized them with no items `my_favorite_numbers = []` or many more items. Each item has an **index number** that depends on their order. The first item is 0, the second item is 1, the third item is 2, etc. In the `my_inspirations` list, `'Pauli Murray'` is item 2.

In [9]:
# Retrieving an item in a list
my_inspirations[2]

'Pauli Murray'

___
<h3 style="color:red; display:inline">Try it! &lt; / &gt; </h3>

**What happens if you change the index number to 1? What about 3? 2.0?**

___


Lists can also contain other lists. To retrieve a value from a list within a list, we use two indexes (or indices).

In [11]:
# Retrieving an item from a list within a list
my_inspirations = [['Harriet Tubman', 'Rosa Parks', 'Pauli Murray'], ['Martin Luther King Jr.', 'Frederick Douglass', 'Malcolm X']]
my_inspirations[0][2]

'Pauli Murray'

___
<h3 style="color:red; display:inline">Try it! &lt; / &gt; </h3>

**Can you change the index for `my_inspirations` to retrieve `'Malcolm X'`?**
___

We can also select items from a list beginning from the end/right side of a list by using negative index numbers.

In [12]:
# Retrieving an item from the end of a list by using negative indices
my_inspirations = ['Harriet Tubman', 'Rosa Parks', 'Pauli Murray']
my_inspirations[-1]

'Pauli Murray'

We can also retrieve a group of contiguous items from a list using **slice** instead of a single index number. We create a slice by indicating a starting and ending index number. The **slice** is a smaller list containing all the items between our starting and stopping index number.

In [13]:
# Taking a slice of a list
historical_periods = ['Classical Antiquity', 'Early Middle Ages', 'High Middle Ages', 'Late Middle Ages', 'Early Modern Period', 'Late Modern Period', 'Contemporary History']
historical_periods[3:5]

['Late Middle Ages', 'Early Modern Period']

Notice in our slice that the second index in a slice is the stopping point. That is our return list contains `historical_periods[3]` (`'Late Middle Ages'`) and `historical_periods[4]` (`'Early Modern Period'`), but it does not include `historical_periods[5]` (`'Late Modern Period'`). This can be confusing if you were expecting three items instead of two. One way to remember this is by subtracting the indexes in your head (5 - 3 = 2 items).

It is not uncommon for lists to be hundreds or thousands of items long. It would be a chore to count all those items to create a slice. If you want to know the length of a list, you can use then `len()` function.

In [14]:
# Using the len() function to discover the number of items in the list
historical_periods = ['Classical Antiquity', 'Early Middle Ages', 'High Middle Ages', 'Late Middle Ages', 'Early Modern Period', 'Late Modern Period', 'Contemporary History']
len(historical_periods)

7

The `historical_periods` **list** is 7 items long, meaning the whole **list** is within the **slice** `historical_periods[0:6]`. When we take a **slice** of a **list** we can also leave out the first index number (0 is assumed) or the stopping index number (the last item is assumed).

In [15]:
# Taking a slice of a list without a beginning index
historical_periods = ['Classical Antiquity', 'Early Middle Ages', 'High Middle Ages', 'Late Middle Ages', 'Early Modern Period', 'Late Modern Period', 'Contemporary History']
historical_periods[:2]

['Classical Antiquity', 'Early Middle Ages']

In [16]:
# Taking a slice of a list without a stopping index
historical_periods = ['Classical Antiquity', 'Early Middle Ages', 'High Middle Ages', 'Late Middle Ages', 'Early Modern Period', 'Late Modern Period', 'Contemporary History']
historical_periods[4:]

['Early Modern Period', 'Late Modern Period', 'Contemporary History']

## The `in` and `not in` Operators

If we have a long list, it may be helpful to check whether a value is in the list. We can do this with the `in` and `not in` operators, which returns a **boolean value**: True or False.

In [21]:
# Checking whether an item is in a list using the `in` operator

name_list = ['Tara Richards',
 'Tammy French',
 'Justin Douglas',
 'Lauren Marquez',
 'Aaron Wilson',
 'Dennis Howell',
 'Brandon Reed',
 'Kelly Baker',
 'Justin Howard',
 'Sarah Myers',
 'Vanessa Burgess',
 'Timothy Davidson',
 'Jessica Lee',
 'Christopher Miller',
 'Lisa Grant',
 'Ryan Chan',
 'Gary Carson',
 'Anthony Mitchell',
 'Jacob Turner',
 'Jennifer Bonilla',
 'Rachel Gonzalez',
 'Andrew Clark',
 'Richard Pearson',
 'Glenn Allen',
 'Jacqueline Gallagher',
 'Carlos Mcdowell',
 'Jeffrey Harris',
 'Danielle Griffith',
 'Sarah Craig',
 'Vernon Vasquez',
 'Anthony Burton',
 'Erica Bryant',
 'Patricia Walker',
 'Karen Brown',
 'Terri Walker',
 'Michelle Knight',
 'Kathleen Douglas',
 'Debbie Estrada',
 'Jennifer Brewer',
 'Taylor Rodriguez',
 'Lisa Turner',
 'Julie Hudson',
 'Christina Cox',
 'Nancy Patrick',
 'Rita Mosley',
 'Nicholas Gordon',
 'Wanda Vasquez',
 'Jason Lopez',
 'Anna Powers',
 'Tyler Perez']

'Patricia Walker' in name_list

True

___
<h3 style="color:red; display:inline">Try it! &lt; / &gt; </h3>

**Is Rita McDowell in `name_list`? What about Erica Bryant?**
___

We can change the value of any item in a list using an **assignment statement** that contains the item's index number.

In [17]:
# Changing the value of an item in a list
historical_periods = ['Classical Antiquity', 'Dark Ages', 'Modern Period']
historical_periods[1] = 'Middle Ages'
print(historical_periods)

['Classical Antiquity', 'Middle Ages', 'Modern Period']

Now we know how to change an item in a list. And can use the `in` and `not in` operator to determine if an item is in the list. But if we don't know the index number of the item, we won't know which index number to change. We need a way to pass both the name of the list and the name of the item simultaneously to a function. To do that, we'll use a special kind of function called a **method**.

# Methods

A **method** is a kind of function. (Remember, functions end in parentheses.) Methods, however, act on objects (like lists) so they have a slightly different written form. We will take a look at five useful methods for working with lists.

|Method Name | Purpose | Form |
|---|---|---|
|index()| search for an item in a list and return the index number | list_name.index(item_name)|
|append()| add an item to the end of a list | list_name.append(item_name)|
|insert()| insert an item in the middle of a list | list_name.insert(index_number, item_name)|
|sort()| sort the order of a list | list_name.sort()|

## The `index()` Method

The `index()` method checks to see if a value is in a list. If the value is found, it returns the index number for the first item with that value. (Keep in mind, there could be multiple items with a single value in a list). If the value is not found, the `index()` method returns a `ValueError`.

In [28]:
# Using the index() method to return the index number of an item by passing a value
name_list = ['Tara Richards',
 'Tammy French',
 'Justin Douglas',
 'Lauren Marquez',
 'Aaron Wilson',
 'Dennis Howell',
 'Brandon Reed',
 'Kelly Baker',
 'Justin Howard',
 'Sarah Myers',
 'Vanessa Burgess',
 'Timothy Davidson',
 'Jessica Lee',
 'Christopher Miller',
 'Lisa Grant',
 'Ryan Chan',
 'Gary Carson',
 'Anthony Mitchell',
 'Jacob Turner',
 'Jennifer Bonilla',
 'Rachel Gonzalez',
 'Andrew Clark',
 'Richard Pearson',
 'Glenn Allen']

name_list.index('Jennifer Bonilla')

19

___
<h3 style="color:red; display:inline">Try it! &lt; / &gt; </h3>

**What is the index number of Lisa Chan in `name_list`?**
___

## The `append()` Method

The `append()` method adds a value to the end of a list.

___
<h3 style="color:red; display:inline">Try it! &lt; / &gt; </h3>

**Can you add your name to `name_list`?**
___

In [31]:
# Using the append() method to add an item to the end of a list
name_list = ['Tara Richards',
 'Tammy French',
 'Justin Douglas',
 'Lauren Marquez',
 'Aaron Wilson',
 'Dennis Howell',
 'Brandon Reed',
 'Kelly Baker',
 'Justin Howard',
 'Sarah Myers',
 'Vanessa Burgess',
 'Timothy Davidson',
 'Jessica Lee',
 'Christopher Miller',
 'Lisa Grant',
 'Ryan Chan',
 'Gary Carson',
 'Anthony Mitchell',
 'Jacob Turner',
 'Jennifer Bonilla',
 'Rachel Gonzalez',
 'Andrew Clark',
 'Richard Pearson',
 'Glenn Allen']
# Write your append statement under this comment

list(name_list) # Prints name_list in a vertical list format to check that the name was added. The list() function prints is easier to read than the print() function for lists.

['Tara Richards', 'Tammy French', 'Justin Douglas', 'Lauren Marquez', 'Aaron Wilson', 'Dennis Howell', 'Brandon Reed', 'Kelly Baker', 'Justin Howard', 'Sarah Myers', 'Vanessa Burgess', 'Timothy Davidson', 'Jessica Lee', 'Christopher Miller', 'Lisa Grant', 'Ryan Chan', 'Gary Carson', 'Anthony Mitchell', 'Jacob Turner', 'Jennifer Bonilla', 'Rachel Gonzalez', 'Andrew Clark', 'Richard Pearson', 'Glenn Allen']

We can also add an item to then end of a list by using an assignment statement.

In [53]:
# Adding an item to a list using an assignment statement
name_list = name_list + ['Einhorn Finkle'] # Concatenate name_list with the list ['Einhorn Finkle']
list(name_list)

['Aaron Wilson',
 'Andrew Clark',
 'Anthony Mitchell',
 'Brandon Reed',
 'Christopher Miller',
 'Dennis Howell',
 'Gary Carson',
 'Glenn Allen',
 'Jacob Turner',
 'Jennifer Bonilla',
 'Jessica Lee',
 'Justin Douglas',
 'Justin Howard',
 'Kelly Baker',
 'Lauren Marquez',
 'Lisa Grant',
 'Rachel Gonzalez',
 'Richard Pearson',
 'Ryan Chan',
 'Sarah Myers',
 'Tammy French',
 'Tara Richards',
 'Timothy Davidson',
 'Vanessa Burgess',
 'Einhorn Finkle',
 'Einhorn Finkle']

## The `insert()` Method

The `insert()` method is similar to `append()` but it takes an argument that lets us choose an index number to insert the new item.

In [54]:
# Using the insert() method to add an item at a specific index number
name_list = ['Tara Richards',
 'Tammy French',
 'Justin Douglas',
 'Lauren Marquez',
 'Aaron Wilson',
 'Dennis Howell',
 'Brandon Reed',
 'Kelly Baker',
 'Justin Howard',
 'Sarah Myers',
 'Vanessa Burgess',
 'Timothy Davidson',
 'Jessica Lee',
 'Christopher Miller',
 'Lisa Grant',
 'Ryan Chan',
 'Gary Carson',
 'Anthony Mitchell',
 'Jacob Turner',
 'Jennifer Bonilla',
 'Rachel Gonzalez',
 'Andrew Clark',
 'Richard Pearson',
 'Glenn Allen']

name_list.insert(5, 'Arya Stark') # Insert the name 'Arya Stark' at index 5 (The sixth name on the list)
list(name_list) # Prints name_list to check that the name was added at the right spot

['Tara Richards',
 'Tammy French',
 'Justin Douglas',
 'Lauren Marquez',
 'Aaron Wilson',
 'Arya Stark',
 'Dennis Howell',
 'Brandon Reed',
 'Kelly Baker',
 'Justin Howard',
 'Sarah Myers',
 'Vanessa Burgess',
 'Timothy Davidson',
 'Jessica Lee',
 'Christopher Miller',
 'Lisa Grant',
 'Ryan Chan',
 'Gary Carson',
 'Anthony Mitchell',
 'Jacob Turner',
 'Jennifer Bonilla',
 'Rachel Gonzalez',
 'Andrew Clark',
 'Richard Pearson',
 'Glenn Allen']

___
<h3 style="color:red; display:inline">Try it! &lt; / &gt; </h3>

**Can you make your name the third item on `name_list`?**
___

## The `remove()` Method

The `remove()` method removes the first item from the list that has a matching value.

In [ ]:
# Using the remove() method to remove the first item with a matching value
name_list = ['Tara Richards',
 'Tammy French',
 'Justin Douglas',
 'Lauren Marquez',
 'Aaron Wilson',
 'Dennis Howell',
 'Brandon Reed',
 'Kelly Baker',
 'Justin Howard',
 'Sarah Myers',
 'Vanessa Burgess',
 'Timothy Davidson',
 'Jessica Lee',
 'Christopher Miller',
 'Lisa Grant',
 'Ryan Chan',
 'Gary Carson',
 'Anthony Mitchell',
 'Jacob Turner',
 'Jennifer Bonilla',
 'Rachel Gonzalez',
 'Andrew Clark',
 'Richard Pearson',
 'Glenn Allen']
# Write your remove statement under this comment

list(name_list) # Prints name_list to check that the name was removed

___
<h3 style="color:red; display:inline">Try it! &lt; / &gt; </h3>

**Can you remove Glenn Allen from `name_list`?**
___

If you know the value you wish to remove then the `remove()` method is the best option. If you know the index number of the item, you can use a `del` statement to delete list items.

In [34]:
# Using a `del` statement to delete a list item
name_list = ['Tara Richards',
 'Tammy French',
 'Justin Douglas',
 'Lauren Marquez',
 'Aaron Wilson',
 'Dennis Howell',
 'Brandon Reed',
 'Kelly Baker',
 'Justin Howard',
 'Sarah Myers',
 'Vanessa Burgess',
 'Timothy Davidson',
 'Jessica Lee',
 'Christopher Miller',
 'Lisa Grant',
 'Ryan Chan',
 'Gary Carson',
 'Anthony Mitchell',
 'Jacob Turner',
 'Jennifer Bonilla',
 'Rachel Gonzalez',
 'Andrew Clark',
 'Richard Pearson',
 'Glenn Allen']
del name_list[-1] # Delete the final item in the list. In this case, 'Glenn Allen'.
list(name_list)

['Tara Richards', 'Tammy French', 'Justin Douglas', 'Lauren Marquez', 'Aaron Wilson', 'Dennis Howell', 'Brandon Reed', 'Kelly Baker', 'Justin Howard', 'Sarah Myers', 'Vanessa Burgess', 'Timothy Davidson', 'Jessica Lee', 'Christopher Miller', 'Lisa Grant', 'Ryan Chan', 'Gary Carson', 'Anthony Mitchell', 'Jacob Turner', 'Jennifer Bonilla', 'Rachel Gonzalez', 'Andrew Clark', 'Richard Pearson']

## The `sort()` Method

The `sort()` method sorts a list in alphabetic order, where strings with capital letters are sorted A-Z, then strings with lowercase letters are sorted A-Z.

In [35]:
# Using the `sort()` method to sort a list in alpha-numeric order
name_list = ['Tara Richards',
 'Tammy French',
 'Justin Douglas',
 'Lauren Marquez',
 'Aaron Wilson',
 'Dennis Howell',
 'Brandon Reed',
 'Kelly Baker',
 'Justin Howard',
 'Sarah Myers',
 'Vanessa Burgess',
 'Timothy Davidson',
 'Jessica Lee',
 'Christopher Miller',
 'Lisa Grant',
 'Ryan Chan',
 'Gary Carson',
 'Anthony Mitchell',
 'Jacob Turner',
 'Jennifer Bonilla',
 'Rachel Gonzalez',
 'Andrew Clark',
 'Richard Pearson',
 'Glenn Allen']
name_list.sort()
list(name_list)

['Aaron Wilson', 'Andrew Clark', 'Anthony Mitchell', 'Brandon Reed', 'Christopher Miller', 'Dennis Howell', 'Gary Carson', 'Glenn Allen', 'Jacob Turner', 'Jennifer Bonilla', 'Jessica Lee', 'Justin Douglas', 'Justin Howard', 'Kelly Baker', 'Lauren Marquez', 'Lisa Grant', 'Rachel Gonzalez', 'Richard Pearson', 'Ryan Chan', 'Sarah Myers', 'Tammy French', 'Tara Richards', 'Timothy Davidson', 'Vanessa Burgess']

___
<h3 style="color:red; display:inline">Try it! &lt; / &gt; </h3>

**The `sort()` method can take the argument `reverse=True`. Try applying it to the `sort()` method above. What does it do?**
___

___
<h2 style="color:red; display:inline">Coding Challenge! &lt; / &gt; </h2>

**Using your knowledge of flow control statements and lists, can you write a program that transforms a list of strings into a single string of comma-separated values?**
___

In [38]:
# A challenge to transform a list of books into a single string of comma-separated values
# The result should be the string: 'Piers Plowman, The Canterbury Tales, Revelations of Divine Love, The Decameron, Le Morte d'Arthur'
book_list = ['Piers Plowman', 'The Canterbury Tales', 'Revelations of Divine Love' 'The Decameron', "Le Morte d'Arthur"]


## For even more challenge, transform a list of lists containing books and authors into a single string of comma-separated values with an 'and' before the final value. Oxford comma please.
# The result should be the string: 'Piers Plowman by William Langland, The Canterbury Tales by Geoffrey Chaucer, Revelations of Divine Love by Julian of Norwich, The Decameron by Giovanni Boccaccio, and Le Morte d'Arthur by Sir Thomas Malory'

books_with_authors = [['Piers Plowman', 'William Langland'], ['The Canterbury Tales', 'Geoffrey Chaucer'], ['Revelations of Divine Love', 'Julian of Norwich'], ['The Decameron', 'Giovanni Boccaccio'], ["Le Morte d'Arthur", 'Sir Thomas Malory']]

# Dictionaries

Like a **list**, a **dictionary** can hold many values within a single variable. We have seen that the items of a list are stored in a strictly-ordered fashion, starting from item 0. In a **dictionary**, each **value** is stored in relation to a descriptive **key** forming a **key/value** pair. Technically, as of Python 3.7 (June 2018), dictionaries are also ordered by insertion. In practice, however, the most useful aspect of a dictionary is the ability to supply a **key** and receive a **value** without reference to indices. Whereas a **list** is typed with brackets `[]`, a **dictionary** is typed with braces `{}`. The key and/or value can be an integer, float, or string.

`example_dictionary = {key1 : value1, key2 : value2, key3 : value3}`

We could imagine, for example, a dictionary with our professional contacts' names as **keys** and their occupations as **values**.

In [66]:
# An example of a dictionary storing names and occupations
contacts ={
 'Amanda Bennett': 'Engineer, electrical',
 'Bryan Miller': 'Radiation protection practitioner',
 'Christopher Garrison': 'Planning and development surveyor',
 'Debra Allen': 'Intelligence analyst',
 'Donna Decker': 'Architect',
 'Heather Bullock': 'Media planner',
 'Jason Brown': 'Energy manager',
 'Jason Soto': 'Lighting technician, broadcasting/film/video',
 'Marissa Munoz': 'Further education lecturer',
 'Matthew Mccall': 'Chief Technology Officer',
 'Michael Norman': 'Translator',
 'Nicole Leblanc': 'Financial controller',
 'Noah Delgado': 'Engineer, land',
 'Rachel Charles': 'Physicist, medical',
 'Stephanie Petty': 'Architect'}

from pprint import pprint # Importing the pretty print function that prints a dictionary in a nice, readable format
pprint(contacts) # Use the pretty print function to print `address_dictionary`

{'Amanda Bennett': 'Engineer, electrical',
 'Bryan Miller': 'Radiation protection practitioner',
 'Christopher Garrison': 'Planning and development surveyor',
 'Debra Allen': 'Intelligence analyst',
 'Donna Decker': 'Architect',
 'Heather Bullock': 'Media planner',
 'Jason Brown': 'Energy manager',
 'Jason Soto': 'Lighting technician, broadcasting/film/video',
 'Marissa Munoz': 'Further education lecturer',
 'Matthew Mccall': 'Chief Technology Officer',
 'Michael Norman': 'Translator',
 'Nicole Leblanc': 'Financial controller',
 'Noah Delgado': 'Engineer, land',
 'Rachel Charles': 'Physicist, medical',
 'Stephanie Petty': 'Architect'}

We can add a new **key/value pair** to our dictionary using an assignment statement.

In [69]:
# Adding the key 'Nathan Kelber' with the value 'Digital Humanities Fellow' to the dictionary contact
contacts['Nathan Kelber'] = 'Digital Humanities Fellow'
pprint(contacts)

{'Amanda Bennett': 'Engineer, electrical',
 'Bryan Miller': 'Radiation protection practitioner',
 'Christopher Garrison': 'Planning and development surveyor',
 'Debra Allen': 'Intelligence analyst',
 'Donna Decker': 'Architect',
 'Heather Bullock': 'Media planner',
 'Jason Brown': 'Energy manager',
 'Jason Soto': 'Lighting technician, broadcasting/film/video',
 'Marissa Munoz': 'Further education lecturer',
 'Matthew Mccall': 'Chief Technology Officer',
 'Michael Norman': 'Translator',
 'Nathan Kelber': 'Digital Humanities Fellow',
 'Nicole Leblanc': 'Financial controller',
 'Noah Delgado': 'Engineer, land',
 'Rachel Charles': 'Physicist, medical',
 'Stephanie Petty': 'Architect'}

## Methods

We can also add a contact by using the `update()` method which accepts one or more key/value pairs.

In [70]:
# Adding several key/value pairs to the dictionary contacts using the update() method
contacts.update([('Matthew Kirschenbaum', 'Professor'), ('Sarah Morris', 'Librarian')])
pprint(contacts)

{'Amanda Bennett': 'Engineer, electrical',
 'Bryan Miller': 'Radiation protection practitioner',
 'Christopher Garrison': 'Planning and development surveyor',
 'Debra Allen': 'Intelligence analyst',
 'Donna Decker': 'Architect',
 'Heather Bullock': 'Media planner',
 'Jason Brown': 'Energy manager',
 'Jason Soto': 'Lighting technician, broadcasting/film/video',
 'Marissa Munoz': 'Further education lecturer',
 'Matthew Kirschenbaum': 'Professor',
 'Matthew Mccall': 'Chief Technology Officer',
 'Michael Norman': 'Translator',
 'Nathan Kelber': 'Digital Humanities Fellow',
 'Nicole Leblanc': 'Financial controller',
 'Noah Delgado': 'Engineer, land',
 'Rachel Charles': 'Physicist, medical',
 'Sarah Morris': 'Librarian',
 'Stephanie Petty': 'Architect'}

___
# Start Next Lesson: [Exploring Metadata](./1-metadata.ipynb)